body {
    background-color: #191919;
    margin: 300px;
    font-family: Arial;
    color: white;
    font-size: 14px;
    font-weight: 100;
    line-height: .2;
    letter-spacing: 1px;
}
.mydiv {
    background:red;
    padding:5px;
    color:white;
}
